@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideIn 1s ease;
}
.slider-wrapper {
  display: flex;
  transition: transform 1s ease-in-out;
}


@keyframes slide-in-left {
  from {
    transform: translateX(20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-left {
  animation: slide-in-left 1s ease-in-out forwards;
}

.animate-slide-in-right {
  animation: slide-in-right 1s ease-in-out forwards;
}
