    /* Toggle Menu */

    .toggle-menu {
        transform: translateX(-100%);
    }

    .toggle-menu-active {
        transform: translateX(0%);
    }

    .menu-icon {
        display: none;
    }

    .nav-buttons {
        display: flex;
    }

    .auth-btns {
        display: flex;
    }

    .search-bar{
        display: none;
    }


    .nav-bottom{
        box-shadow: rgba(134, 134, 134, 0.1) 0px 2px 2px 0px;
    }


    @media screen and (max-width: 1024px) {
        .menu-icon {
            display: block;
        }

        .nav-buttons {
            display: none;
        }

        .auth-btns {
            display: none;
        }

        .menu{
            display: none;
        }

        .left-menu{
            display: none;
        }

        .search-bar{
            display: block;
        }

        .search{
            display: none;
        }
    }